body {
        background-image: linear-gradient(blue,red);
    size:600px,500px;
    
}
ul{
    margin-top: 100px;
    list-style:none ;
    width: 100%;
    margin:50%,auto;
    padding:50PX;
    

    
}
.form_div{
    margin: auto;
    height: 700px;
    width: 500px;
    background-color:chocolate;
    border: brown 5px solid;
  
}
li{
    padding:20px;
}

.title{
    height: 3PX;
    width: 100%;
    margin:auto;
}
.resultaat{
    font-size: 30px;
    margin-left: 150px;
}
 input[type=reset]{
            background-color:red;
            border:none;
            height:50px;
            width:175px;
            margin-left: 60px;
            
        }
        input[type=submit]{
            background-color:red;
            border:none;
            height:50px;
            width:175px;
            margin-left:60px;
            
        }
        select{
            background-color:rgba(165, 42, 42, 0.329);
            border:none;
            height:50px;
            width:175px;
            margin-left:0px;
            
        }

